<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Unit test file <%= @title %> | FuseJS <%= FUSEJS_VERSION %></title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <script type="text/javascript">
    var undef,
     originalElement = window.Element,
     eventResults = { 'eventElement': { } };
  </script>
  <script src="../../../dist/fuse.js" type="text/javascript"></script>
  <script src="../../lib/assets/unittest.js" type="text/javascript"></script>
  <script type="text/javascript">
    var Feature = Fuse.Browser.Feature,
     $  = Fuse.Util.$,
     $$ = Fuse.Util.$$,
     $A = Fuse.Util.$A,
     $F = Fuse.Util.$F,
     $H = Fuse.Util.$H,
     $R = Fuse.Util.$R,
     $w = Fuse.Util.$w;

    function getDocument(element) {
      return element.ownerDocument || element.document ||
        (element.nodeType === 9 ? element : Fuse._doc);
    }

    document.observe('dom:loaded', function() {
      function insertScript(text) {
        var script = document.createElement('script');
        script.type = 'text/javascript';

        text = 'Fuse.' + expando + ' = true;' + text;
        delete Fuse[expando];

        // attempt the standard way first and then the IE way
        try { script.appendChild(document.createTextNode(text)) }
        catch (e) { script.text = text }
        head.insertBefore(script, head.firstChild);

        // Safari 2 support
        if (!Fuse[expando])
          window.eval(script.text);
      }

      function loadScriptFile(url) {
        Fuse.Ajax.Request(url, {
          'method': 'get',
          'asynchronous': false,
          'onDone': function(response) {
            insertScript(response.responseText);
          }
        });
      }

      var index, item, i = 0,
       head     = document.getElementsByTagName('HEAD')[0],
       expando  = '_fuse' + String(1 * new Date).slice(0, 10),
       engine   = (window.location.href.match(/[?&]engine=([^&]+)/) || ['', 'NWMatcher'])[1],
       engineEl = $('selector-engine'),
       choices  = engineEl.options;

      while (item = choices[i++]) {
        if (item.text === engine) {
          engineEl.selectedIndex = index = i - 1; break;
        }
      }

      loadScriptFile('../../../vendor/' + choices[index].value);
      loadScriptFile('../../../src/dom/selector/' + choices[index].text.toLowerCase() + '.js');

      engineEl.observe('change', function() {
        var loc = window.location;
        loc.href = loc.protocol + '//' + loc.hostname + loc.pathname + '?engine=' +
          this.options[this.selectedIndex].text;
      });
    });
  </script>

  <link rel="stylesheet" href="../../lib/assets/test.css" type="text/css">
<% if @css_fixtures_filename %>
  <link rel="stylesheet" href="../fixtures/<%= @css_fixtures_filename %>" type="text/css">
<% end %><% if @js_fixtures_filename %>
  <script src="../fixtures/<%= @js_fixtures_filename %>" type="text/javascript" charset="utf-8"></script>
<% end %>
  <script src="../<%= @js_filename %>" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<h1>FuseJS Unit test file</h1>

<!-- CSS wizards feel free to clean this up -->
<h2 style="display:inline;"><%= @title %></h2>
<span style="margin-left:10px;">( Selector Engine:
<select id="selector-engine">
  <option value="acme/acme.js">Acme</option>
  <option value="domquery/DomQuery.js">DomQuery</option>
  <option value="nwbox/nwmatcher/src/nwmatcher.js">NWMatcher</option>
  <option value="peppy/peppy.js">Peppy</option>
  <option value="sizzle/sizzle.js">Sizzle</option>
  <option value="slick/slick.js">Slick</option>
  <option value="sly/Sly.js">Sly</option>
</select> )
</span>

<!-- This file is programmatically generated. Do not attempt to modify it. Instead, modify <%= @fixtures_filename %> -->

<!-- Log output start -->
<div id="testlog"></div>
<!-- Log output end -->

<!-- HTML Fixtures start -->
<%= @html_fixtures %>
<!-- HTML Fixtures end -->

<script type="text/javascript">
  eventResults.endOfDocument = true;
</script>
</body>
</html>